body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	color: #161616;
}

header {
	background: #333;
	color: white;
	padding: 20px;
	text-align: center;
}

main {
	max-width: 1000px;
	margin: 20px auto;
	padding: 20px;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
	margin-top: 20px;
}

h3 {
	font-size: 18px;
	margin-top: 20px;
}

h4 {
	font-size: 16px;
	margin-top: 20px;
}

section {
	margin-bottom: 30px;
}

p {
	line-height: 1.6;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	background: white;
}

th,
td {
	border: 1px solid #ddd;
	padding: 12px;
}

th {
	background-color: #333;
	color: white;
	font-weight: bold;
}

img {
	display: block;
	max-width: 70%;
	height: auto;
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0;
}

figcaption {
	font-size: 14px;
	color: #555;
	text-align: center;
	margin-top: 5px;
}

@media (max-width: 600px) {
	main {
		width: 95%;
		padding: 15px;
	}

	table {
		font-size: 14px;
	}
}
